

<section class="mr-2 ml-2 mt-2">

  <form [formGroup]="shoppingCardForm" (keyup.enter)="add()">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ingresa articulo" formControlName="name" >
      <div class="input-group-append">
        <button (click) ="add()" class="btn btn-primary">Añadir</button>
      </div>
    </div>
  </form>

  <div *ngIf="myShoppingCard.items && myShoppingCard.items.length; else templateEmpty">
    <h4>Listado de artículos</h4>
    <ul class="list-group">
      <div *ngFor="let item of myShoppingCard.items">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            <input type="checkbox" class="mr-2" (change) ="toCompleted($event.target.checked, item.id)">
            <span [ngClass] ="{ 'strikethrough' : item.status === isCompleted }">{{item.name}} </span>
          </span>
          <span ><a href="javascript:void(0)" class="badge badge-primary badge-pill" (click)="deleteItem(item.id)">x</a></span>
        </li>
      </div>
    </ul>

  </div>

  <ng-template #templateEmpty>
    <div class="mb-2">
      MI carrito esta vacio
    </div>
  </ng-template>

</section>





